html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --background-main: #ffffff;
  --background-secondary: #f4f4fd;
  --backgraund-section: #e5e5e5;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-main);
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1182px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* main */
.main {
}
/* hero */
.section-hero {
  background-color: var(--navy-blue);
  text-align: center;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 496px;

  margin-bottom: 48px;
  padding-top: 188px;
  font-weight: 700;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

.hero-btn {
  display: block;
  font-family: var(--primary-font);
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 188px;
  min-width: 169px;
  height: 56px;
  border: 1px solid transparent;
  text-align: center;
  border: none;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  padding: 188px 0 188px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-right: 76px;
}
.logo-dark {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}
.header-list {
  display: flex;
  margin-left: 76px;
  padding: 24px 0;
}
.header-address {
  display: flex;
}
.header-list .item + .item {
  margin-left: 40px;
}
.company-blok {
  padding: 120px 0px;
}

.list {
}
.header-item {
  margin-right: 40px;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

.address {
  font-style: normal;
  margin-left: auto;
}

.header-address {
  margin-right: 40px;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* section */
.section-company {
}
.company {
  display: flex;
  width: calc((100% - 72px) / 4);
}
.company-item {
  width: 264px;
  margin-right: 24px;
}
.company .company-item + .company-item {
  margin-left: 24px;
}

.company-item .company-title,
.team-underitle,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.company-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.section-work {
}
.work-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  padding-top: 120px;
  margin-bottom: 72px;
}
.work {
  display: flex;
  padding-bottom: 120px;
  justify-content: center;
}

.work .work-item + .work-item {
  margin-left: 24px;
}
.work-item {
  margin-right: 24px;
}

.work-img {
}
.section-team {
  background-color: var(--background-secondary);
  padding: 120px 0;
}
.team {
  display: flex;
  padding-bottom: 120px;
}
.team .work-team + .work-team {
  margin-left: 24px;
}
.work-team {
  background-color: var(--background-main);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}
.title-name {
  padding: 32px 16px;
}
.team-underitle {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}
.team-img {
  margin-bottom: 32px;
}
.team-text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  text-align: center;
}
/* portfolio */
.section-portfolio {
}
.portfolio {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.portfolio .portfolio-list + .portfolio-list {
  margin-left: 24px;
}
.portfolio-list .portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}
.portfolio-btn {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item-cards {
  width: 360px;
  height: 420px;
  margin-right: 24px;
  margin-bottom: 24px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-link {
}
.portfolio-img {
  margin-bottom: 32px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding-bottom: 32px;
}

.portfolio-text-hov {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
}
/* footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
  display: inline-block;
}
.logo-light {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
  display: inline-block;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}
